---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = '首页';
---

<BaseLayout pageTitle={pageTitle}>
  <img src="/images/stone.jpg" alt="Astro logo" class="stoneImg" />
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
